/** @format */

.chatBody {
	flex: 0.7;
	display: flex;
	flex-direction: column;
}
.chatBody__header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 15px;
}
.chatBody__header-info {
	flex: 1;
	padding-left: 10px;
}
.chatBody__header-info h3 {
	font-size: 15px;
}
.chatBody__header-info p {
	color: #444;
}
.chatBody__body {
	flex: 1;
	background: url("../../assets/body.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-y: scroll;
}
.chatBody__body {
	padding: 15px;
}
